.about {
  max-width: 550px;
  border: 1px solid rgba(0, 0, 0, 0.078);
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.047);
  padding:20px;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about p {
  margin-bottom: 1.5em;
  line-height: 1.4;
}
